@model WebBanHangOnline.Data.Models.EF.News
@{
    ViewBag.Title = "News";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/news" class="nav-link">News</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Edit</a>
        </li>
    </ul>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>News</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">News</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">News Infomation</h3>
        </div>
        <div class="card-body">
            @if (Model != null)
            {
                <div class="bs-stepper-content">
                    @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x => x.NewsId)
                        @Html.HiddenFor(x => x.CreatedDate)
                        <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                                <label for="Title">Title</label>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Title" })
                            @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                        </div>
                           @* <div class="form-group">
                                <label for="Image">Avatar</label>
                                <input type="file" name="fileAvatar" class="form-control" />
                            </div>*@
                            <div class="form-group" style="display:-webkit-box">
                                <div class="col-sm-6">
                                    <label>Image</label>
                                    <input type="file" name="fileAvatar" class="form-control" id="ChooseImg" />
                                </div>
                                <div class="col-sm-6">
                                    <img id="PrevImg" src="/images/news/@Model.Image" style="width:150px;height:150px; border:1px solid red; border-radius:10px;padding:10px" />
                                </div>
                            </div>

                        <div class="form-group">
                                <label>Description</label>
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                                <label>Detail</label>
                                @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @id = "txtDetail" })
                        </div>
                        <div class="form-group">
                                <label >Active</label>
                            @Html.CheckBoxFor(x => x.IsActive)
                        </div>                      
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="/admin/news" class="btn btn-danger">Back</a>
                        </div>
                    </div>

                    }

                </div>
            }

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section Scripts{
    <script src="~/js/jFile.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea#txtDetail',
            height: 300,
            images_upload_url: '/admin/news/TinyMceUpload',
            automatic_uploads: true,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview',
                'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code',
                'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
            });
    </script>
 }