@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model X.PagedList.PagedList<WebBanHangOnline.Models.EF.Category>
@{
    ViewData["Title"] = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/categories" class="nav-link">Category</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Category Manager</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Category</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List Category</h3>

            <div class="card-tools">
                <a href="/admin/categories/create" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    @using (Html.BeginForm("index", "Categories", FormMethod.Get, new { }))
                    {
                        <div class="input-group input-group-sm">
                            @Html.TextBox("Searchtext",null, new { @class = "form-control" })
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-info btn-flat">Search</button>
                            </span>
                        </div>
                    }
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Caterory Name</th>
                        <th>Alias</th>
                        <th>Link</th>
                        <th>Description</th>                
                        <th>Position</th>
                        <th style="width:125px"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {

                            <tr id="trow_@item.CategoryId">
                                <td>@i</td>
                                <td>@item.Title</td>
                                <td>@item.Alias</td>
                                <td>@item.Link</td>
                                <td>@item.Description</td>
                                <td>@item.Position</td>
                                <td>
                                    <a href="/admin/categories/edit/@item.CategoryId" class="btn btn-sm btn-primary">Edit</a>
                                    <a data-id="@item.CategoryId" class="btn btn-sm btn-danger btnDelete">Delete</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">There are no records yet!!!</td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts{
 
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var CategoryId = $(this).data("id");
                var conf = confirm('Do you want to delete this record?');
                if (conf === true) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/Categories/Delete',
                        data: {id:CategoryId},
                        success: function (response) {
                            if (response.success) {
                                $('#trow_' + id).remove();
                                $.toast({
                                    heading: 'Success',
                                    text: 'Delete record success',
                                    icon: 'success',
                                    position: 'bottom-right'
                                });
                            }
                            else
                            {
                                alert("Delete error");
                            }
                        }
                    });
                }
            });
        });
    </script>
}

