@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common
<table class="table">
    <tr class="text-center">
        <th>#</th>
        <th>Image</th>
        <th>ProductName</th>
        <th>Product Category</th>
        <th>Price</th>

        <th style="width:100px;">Quantity</th>
        <th>Amount</th>
        <th style="width:200px;">

        </th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var _totalPrice = decimal.Zero;
        foreach (var item in Model)
        {
            _totalPrice += item.TotalPrice;
            <tr class="text-center" id="trow_@item.ProductId">
                <td>@(i + 1)</td>
                <td><img src="@item.ProductImg" width="60" /></td>
                <td>
                    <a href="/chi-tiet/@item.Alias-p@(item.ProductId)">
                        @item.ProductName
                    </a>
                </td>
                <td>@item.CategoryName</td>
                <td>@Common.FormatNumber(item.Price, 0)</td>
                <td><input type="number" class="form-control" id="Quantity_@item.ProductId" value="@item.Quantity" /></td>
                <th>@Common.FormatNumber(item.TotalPrice, 2)</th>
                <td>
                    <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete">Delete</a>
                    <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-success btnUpdate">Update</a>
                </td>
            </tr>
            i++;
        }
        <tr>
            <th colspan="6" class="text-right">Total: </th>
            <th class="text-center">@Common.FormatNumber(_totalPrice, 0)</th>
            <th></th>
        </tr>

    }
    else
    {
        <tr>
            <th colspan="7">There are not products in the cart!!</th>
        </tr>
    }
</table>
