@model WebBanHangOnline.Data.Models.OrderViewModel
@using (Html.BeginForm("CheckOut", "Shoppingcart", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" name="UserID" id="UserID" value="@ViewBag.UserID" />
    <h3>Customer information</h3>
    <div class="form-group">

        <label>Customer Name</label>
        @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control", @autocomplete="off"})
        @Html.ValidationMessageFor(x => x.CustomerName, null, new { @class = "text-danger" })

    </div>
    <div class="form-group">
        <label>Phone Number</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @autocomplete="off"})
        @Html.ValidationMessageFor(x => x.Phone, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Address</label>
        @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @autocomplete="off"})
        @Html.ValidationMessageFor(x => x.Address, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @autocomplete="off"})
        @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Payments</label>
        <select class="form-control" name="TypePayment">
            <option value="1" selected>COD</option>
            <option value="2">Bank transfer</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-success">Sumbmit</button>
    </div>
}